*{
    margin: 0;
    padding: 0;
    color: pink;
}

#changeText{
    font-size: 50px;
    font-weight: bold;
}

.top-nav{
    background-color:transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 0px;
    top: 0px;
    font-weight: bold;
}

.top-nav a:hover {
    zoom: 1.5;
}

  .top-nav a.active {
    color: rgb(255, 255, 255);  
}

.logo{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 14px 0px 0px 20px;
}

.logo img{
    height: 50px;
    width: 50px;
}

.menu{
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex:3;
    flex:3;  
}

.menu ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap; 
    flex-flow: row wrap;
}

.menu ul li{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;  
}

.menu ul li a{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;      
}

.headline{
    background-image: url('mc.jpg');
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100%; 
}

.headline-text{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 120px 0;
}

.headline-text-item{
    color: #ffffff;
    margin: auto;
    text-align: center;
    width: 50%;
}

.headline-text-item h2{
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.headline-text-item p{
    font-size: 18px;
}

.main-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 5% 0;
    /*display:block; 
    overflow:auto;*/
}

.main{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3%;
    /*margin: 70px;*/
    text-align: center;
    color: #ffffff;
}

#button{
    background-color: rgb(27, 114, 30);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    border: #000000;
}

.button{
    background-color: pink;  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0%;
    color: #ffffff;
    border: #ffffff;
}

.hh:hover{
    zoom: 1.1;
}

@media all and (max-width:500px){
    .top-nav{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .logo{
        padding: 18px 0 0;
    }
    .menu ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
    }
    .menu ul li{
        padding: 0px;
    }
    .headline-text-item{
        width: 100%;
    }
    .headline-text-item h2{
        font-size: 1.5em;
    }
    .main-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .google-maps {
        width: 75% !important;
        height: 75% !important;
    }
    .container{
        width: 75% !important;
        height: 75% !important;   
    }
    .slider-inner{
        position:relative;
        overflow:hidden;
        float:left;
        border:#666 solid 1px;
        display: flex;
        justify-content: center;
    }
    .slider-inner img{
        display:none;
        width:100% !important;
        height:150px !important;   
    } 
    .prev{
        position:relative;
        margin-right:-45px;
        z-index:100;
    }
    .next{
        position:relative;
        margin-left:-45px;
        z-index:100;   
    }
    .parallax {
        /* The image used */
        background-image: url("logo.jpg") !important;
    }
}

@media all and (max-width:800px){
    .top-nav{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .logo{
        padding: 18px 0 0;
    }
    .menu ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
    }
    .menu ul li{
        padding: 0px;
    }
    .headline-text-item{
        width: 100%;
    }
    .headline-text-item h2{
        font-size: 2.5em;
    }
    .main-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .google-maps {
        width: 75% !important;
        height: 75% !important;
    }
    .container{
        width: 75% !important;
        height: 75% !important;
    }
    .slider-inner{
        position:relative;
        overflow:hidden;
        float:left;
        border:#666 solid 1px;
        display: flex;
        justify-content: center;
    }
    .slider-inner img{
        display:none;
        width:100% !important;
        height:150px !important;   
    }
    .prev{
        position:relative;
        margin-right:-45px;
        z-index:100;
        margin-bottom: -108px !important;
    } 
    .next{
        position:relative;
        margin-left:0px !important;
        z-index:100;
        margin: -57px !important;
        margin-top: 50px !important;  
    }
    .parallax {
        /* The image used */
        background-image: url("logo.jpg") !important;
    }
}
  
body{
    background: #000000;
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue",
    sans-serif;
}
  
.item{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contactForm{
    padding: 50px 0;
    position: relative;
    z-index: 1;  
}

.item h2 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 18px; 
}

.item input[type="text"]{
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    height: 1px;
    width: 30%;
    color: #000000;
}

.item input[type="password"]{
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    height: 1px;
    width: 30%;
    color: #000000;
}

.item input[type="email"]{
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    height: 1px;
    width: 30%;
    color: #000000;
}

.item textarea{
    border-radius: 10px;
    height: 100px;
    padding: 15px;
    width: 30%;
    color: #000000;
}

.item button{
    height: 30px;
    width: 15%;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    font-weight: bold;
  }

.container{
    width:540px;
	margin:40px auto;
	overflow:auto; 
}

.slider-inner{
	position:relative;
	overflow:hidden;
	float:left;
    border:#666 solid 1px;
    display: flex;
    justify-content: center;
}

.slider-inner img{
	display:none;
	width:500px;
    height:300px;
}

.slider-inner img.active{
	display:inline-block;
}

.prev,.next{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next{
	position:relative;
	margin-left:-45px;
	z-index:100;
}


.icon {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 5px solid red;
    border-radius: 100%;
}
  
.icon::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 1px 0px 0 -6px;
    display: block;
    content: '';
    border: 6px solid transparent;
    border-top: 10px solid red;
    border-bottom: none;
}

.some-page-wrapper {
    margin: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .blue-column {
    height: 200px;
    text-align: center;
  }
  
  .green-column {
    height: 200px;
    text-align: center;
  }

  @media screen and (min-width: 800px) {
    .column {
      flex: 1
    }
  
    .double-column {
      flex: 2
    }
    .tv{
        height: 200px;
        width: 250px;
    }
  }

  .tv{
    height: 200px; 
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .parallax {
    background-image: url("mc.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .collapsible {
    background-color: pink;
    color: white;
    cursor: pointer;
    padding: 25px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(252, 212, 218);
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(0, 0, 0)  ;
  }